@import "tailwindcss";

@theme {
  --primary-color: #F5EDF0;
  --secondary-color: #3D2C2E;
}
body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}
